{% capture share_button %}
  <h5>分享到:</h5>
  <ul class="social-media">
    <li>
        <a title="{{ site.theme.social.twitter }} on Twitter" 
          href="https://twitter.com/intent/tweet?original_referer={{site.url}}{{page.url}}&amp;text={{page.title}}&amp;url={{site.url}}{{page.url}}" class="twitter wc-img-replace" target="_blank">
          Twitter
        </a>
    </li>   
    <li>
        <a title="{{ site.theme.social.gplus }} on Google Plus" 
            href="https://plus.google.com/share?url={{site.url}}{{page.url}}" 
            class="google wc-img-replace" target="_blank">Google</a>
    </li>
    <li>
        <a title="{{ site.theme.social.facebook }} on Facebook" 
            href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}&amp;t={{page.title}}" 
            class="facebook wc-img-replace" target="_blank">Facebook</a>
    </li>
  </ul>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"16"},"share":{"bdSize":16},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
<div class="share-buttons">
  <p class="bdsharebuttonbox">
  <a class="bds_more" href="#" data-cmd="more">更多选择：</a>
  <a class="bds_qzone" title="分享到QQ空间" href="#" data-cmd="qzone"></a>
  <a class="bds_tsina" title="分享到新浪微博" href="#" data-cmd="tsina"></a>
  <a class="bds_tqq" title="分享到腾讯微博" href="#" data-cmd="tqq"></a>
  <a class="bds_renren" title="分享到人人网" href="#" data-cmd="renren"></a>
  <a class="bds_weixin" title="分享到微信" href="#" data-cmd="weixin"></a>
  </p>
</div>
{% endcapture %}{{ share_button | strip_newlines }}
